/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

header h1 {
    font-size: 32px;
    margin-top: 10px;
}

header span {
    font-size: 28px;
}

/* Langs */
.languages {
    list-style-type: none;
    padding: 0;
}

.languages li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.languages img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
